/*browser reset css*/
*{
    margin: 0;
	padding: 0;
    border: 0;
}/*main body css*/

body{
    background-color: #2e5266;
}

/* header*/
.header{
    font-family: 'Monoton', cursive;
    font-size: 25px;
    letter-spacing: 1px;
    color: #D3D0CB;
    margin: 20px 0 0 20px;
    padding: 0;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    float: right;
    overflow: hidden;
    font-size: 20px;
}
  
.header li {
    float: right;
}
  
.header li a {
    display: block;
    color: #D3D0CB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

/* styling for section where select category + add new category buttons are*/

.categorySearch-div{
    display: flex;
    justify-content: start;
    margin-left: 20px;
}

.button{
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    background-color: #6e8898;
    color: #E4EEF5;
    cursor: pointer;
    position: relative;
}

.button:hover{
    background-color: #C2B340;
}

.btn.btn-default{
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    margin-right: 390px;
    background-color: #6e8898;
    color: #E4EEF5;
    cursor: pointer;
    position: relative;
}

.btn.btn-default:hover{
    background-color: #C2B340;
}

/* category search dropdown*/

#dropdown{
    display: none;
    list-style: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 90%;
    text-align: center;
    text-transform: uppercase;
    background-color: #6e8898;
    border-radius: 0, 0, 5px, 5px;
}

#dropdown li{
    padding: 10px 15px;
}

#dropdown li:hover{
    background-color: #C2B340;
}

#dropdown.active{
    display: block;
}

/* add category modal */
.modal{
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid #6e8898;
    border-radius: 5px;
    z-index: 10;
    background-color: #F9F9F4;
    font-family: 'Montserrat', sans-serif;
    width: 500px;
    max-width: 80%;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #6e8898;
    font-family: 'Montserrat', sans-serif;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body{
    padding: 10px 15px;
    
}

#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
}

#overlay.active{
    pointer-events: all;
    opacity: 1;
}

/* add bookmark form */

input{
    margin: 10px;
    border: 1px solid #6e8898;
    border-radius: 5px;
    padding: 5px;
    width: 93%;
    font-family: 'Montserrat', sans-serif;
}

.submit-button{
    padding: 5px;
    margin: auto;
    display: block;
    border-radius: 5px;
    background-color: #D3D0CB;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    width: 50%;
}
.submit-button:hover{
    background-color: #C2B340;
}

/* section where categories */

.category-view {
    justify-items: center;
    margin: 0px;
    width: auto;
    white-space: nowrap;
    overflow-x: scroll;
}

.category-view::-webkit-scrollbar {
    display: none;
}

h1{
    font-family: 'Monoton', cursive;
    font-size: 50px;
    letter-spacing: 1px;
    color: #D3D0CB;
    text-align: left;
    margin-left: 10px;
}

h3{
    background-color: #D7D6CE;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.category-div{
    background-color: #F9F9F4;
    display: inline-block;
    width: 25%;
    padding: 20px;
    height: 68vh;
    margin: 0 15px 15px 15px;
    border: 1px solid #6e8898;
    border-radius: 5px;
    padding-bottom: 2.5rem;
}

p{
    font-size: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 100px;
}

/*div where bookmark shows up in category div*/
.bookmark-div{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid #D7D6CE;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #D7D6CE;
    padding: 10px;
    text-transform: none;
    font-family: 'Montserrat', sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.keyword{
    padding: 5px;
    margin-top: 20px;
    width: fit-content;
    border: 1px solid lightgray;
    border-radius: 15px;
    box-shadow: 1px 1px 2px #D7D6CE;
    background-color: #C2B340;
    text-transform: uppercase;
    font-size: 10px;
}

.delete-button{
    align-self: flex-end;
    background: none;
    color: red;
    font-size: 20px;
    width: fit-content;
    cursor: pointer;
}

/*login & signup page*/

.body{
    text-align: center;
    margin-top: 0px;
    margin: auto;
    padding-top: 100px;
    max-width: 500px;
}

h4{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #C2B340;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: absolute;
    width: 100vw;
}

h5{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #C2B340;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100vw;
}

/*specific category view page*/
.category-div.category{
    width: 80vw;
    margin-left: 8%;
}