doctype html
html
    head
        title Member Bookmarks
        style
            include style.css
        link(href="https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat&display=swap" rel="stylesheet")
    body
        .header
            h1 Web Organizer
                ul
                    li
                        a.home-link(href='#') home
                    li
                        a.profile-link(href='#') profile
                    li
                        a.logout-link(href='#') logout
        .wrapper
            .category-div
                h3 category 1
                .bookmark-div
                    h4 title
                    p this is where the link will go
                    p this is where the tags will go
            .category-div
                h3 category 2
                .bookmark-div
                    h4 title
                    p this is where the link will go
                    p this is where the tags will go
            .category-div
                h3 category 3
                .bookmark-div
                    h4 title
                    p this is where the link will go
                    p this is where the tags will go
            .category-div
                h3 category 4
                .bookmark-div
                    h4 title
                    p this is where the link will go
                    p this is where the tags will go
            .category-div
                h3 category 5
                .bookmark-div
                    h4 title
                    p this is where the link will go
                    p this is where the tags will go
        .footer
            h4 &copy; Clever Foxes
            