doctype html
html
    head
        title Member Bookmarks
        style
            include style.css
        link(href="https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat&display=swap" rel="stylesheet")
    body
        .header
            h1 Web Organizer
                ul
                    li
                        a.home-link(href='#') home
                    li
                        a.profile-link(href='#') profile
                    li
                        a.logout-link(href='#') logout
        .categorySearch-div
            button(type="button" class="searchCategoryDropdown button") Select Category
            button(type="button" class="addCategoryBtn button" data-modal-target="#modal") add new category
            .modal(id='modal') 
                .modal-header
                    .title Add New Category
                    button.close-button(data-close-button) &times;
                .modal-body 
                    form(action='submit')
                        label(for='newCategory') Enter new category name:
                        input(type='text' name='newCategory' id='newCategory')
                        button(id='submit-button') submit
            #overlay
        .wrapper
            //- - const dummyCategories = ['tutorials', 'links', 'videos', 'test', 'test', 'test']
            //- each n in dummyCategories
            //-     .category-div
            //-         h3= n
            .category-div
                h3 category 1
                .bookmark-div
                    h4 title
                    p this is where the link will go
                    p this is where the tags will go
        .footer 
            h4 &copy; Clever Foxes

        script(src='/assets/js/addCategory.js')

        //- bookmark - category, keyword, and url