doctype html
html
    head
        title Member Bookmarks
        style
            include style.css
    body
        .header
            h1 Web Organizer
        .main-container
            .category-div
                h4 videos
                p test info
                p test info
                p test info
                p test info
            .category-div
                h4 documentation
                p test info
                p test info
                p test info
                p test info
            .category-div
                h4 tutorials
                p test info
                p test info
                p test info
                p test info
            