doctype html
html
    head
        title Member Bookmarks
        style
            include style.css
        link(href="https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat&display=swap" rel="stylesheet")
    body
        //- header section, includes title + nav
        .header
            h1 Web Organizer
                ul
                    li
                        a.home-link(href='#') home
                    li
                        a.profile-link(href='#') profile
                    li
                        a.logout-link(href='#') logout

        //- search + add new category 
        .categorySearch-div
            //-button to search through categories
            button(type="button" class="categoryDropdown button" id="categoryDropdown") Select Category
                ul#dropdown
                    li category1
                    li category2
                    li category3

            //-button to add category
            button(type="button" class="addCategoryBtn button" data-modal-target="#modal") Add New Category
            .modal(id='modal') 
                .modal-header
                    .title Add New Category
                    button.close-button(data-close-button) &times;
                .modal-body 
                    form(action='submit' class='create-form')
                        label(for='category-input') Enter new category name:
                        input(type='text' id='category-input')
                        input(id="add-Category" type="submit" value="submit")
            #overlay

        //- categories will display here
        .category-view
            //- - const dummyCategories = ['tutorials', 'links', 'videos', 'test', 'test', 'test']
            //- each n in dummyCategories
            //-     .category-div
            //-         h3= n
            .category-div
                h3 category 1
                p.addBookmark &#10133; add bookmark
                .bookmark-div
                    h4 title
                    p this is where the link will go
                    p this is where the tags will go
            .category-div
                h3 category 1
                p.addBookmark &#10133; add bookmark
                .bookmark-div
                    h4 title
                    p this is where the link will go
                    p this is where the tags will go
            .category-div
                h3 category 1
                p.addBookmark &#10133; add bookmark
                .bookmark-div
                    h4 title
                    p this is where the link will go
                    p this is where the tags will go
        
        //- footer 
        .footer 
            h4 &copy; Clever Foxes

        //- links to javascript files & jquery
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='/assets/js/addCategoryModal.js')
        script(src='/assets/js/displayCategory.js')
        script(src='/assets/js/dropdown.js')


    
        //- ADD bookmark function - category, keyword, and url