*{
    margin: 0;
	padding: 0;
    border: 0;
    
}

body{
    background-color: #C4D9DB;
}

.header{
    font-family: 'Monoton', cursive;
    font-size: 25px;
    letter-spacing: 1px;
    color: #20646B;
    opacity: 70%;
    margin: 10px;
    padding: 30px;
}

.wrapper {
    margin: 20px;
    width: auto;
    white-space: nowrap;
    overflow-x: scroll;
}

.wrapper::-webkit-scrollbar {
    display: none;
  }

h3{
    font-family: 'Montserrat', sans-serif;
    background-color: #F1E587;
    text-align: center;
}

.category-div{
    background-color: #F9F8F0;
    text-transform: uppercase;
    display: inline-block;
    width: 25%;
    padding: 20px;
    height: 100vh;
    margin: 15px;
    border: 1px solid #6e8898;
    border-radius: 5px
}

p{
    font-size: 12px;
}

.bookmark-div{
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    border: 1px solid #6e8898;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #6e8898;
    padding: 10px;
    text-transform: none;
}

.footer{
    padding: 20px;
    background-color: #C2B340;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
